testbench/*.elf
testbench/*.elf-*
testbench/*.hex
testbench/*.map
testbench/*.hexe
testbench/*.vcd
testbench/*.vvp
testbench/*.log
.vscode
vivado/.Xil
vivado/*.log
vivado/*.jou
vivado/vvd_caravel_fpga
vivado/NA
*.log